.result{
  background-color: var(--VeryDarkCyan);
  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media(max-width:767px){
  .result{
    padding: 20px;
  }
}
.result p{
  color: var(--White);
}
@media(max-width:767px){
  .result p{
    font-size: .7rem;
  }
}
.result span{
  color: var(--LightGrayishCyan);
  font-size: 18px;
}
@media(max-width:767px){
  .result span{
    font-size: .5rem;
  }
}


/* tip-amount / tip-total */
.result .tip-amount,
.result .tip-total{
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result .tip-amount h2,
.result .tip-total h2{
  color: var(--StrongCyan);
  font-size: 2em;
  font-weight: 700;
}
@media(max-width:767px){
  .result .tip-amount h2,
  .result .tip-total h2{
    font-size: 1.5em;
  }
}


/* reset */
.result .reset{
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--StrongCyan);
  cursor: pointer;
  transition: all ease .5s;
}
.result .reset:disabled{
  background-color: var(--VeryDarkCyan);
  color: var(--DarkestGrayishCyan);
  filter: brightness(1.2);
  cursor: auto;
}
